// Article lists

// Share buttons
.share span {
  cursor: pointer;
}

// Time tags
time {
  position:relative;
  top: 0;
  right: 0;
  z-index: 20;
  -webkit-font-smoothing: antialiased;
} 

// Blog & News
.article-list {
  @include clearfix;
  .article {
    position: relative;
    min-height: 250px;
    margin-bottom: 4px;

    @include tablet {
      float: left;
      width: 33%;
    }
  }

.article-content {
  background: $white;
  position: $white;
  @include tablet {
    margin-right: 4px;
  }
  .article-content-wrap {
      padding: 30px 50px 30px 25px;
    }

    .article-date,
    .article-category,
    .article-tag {
      @include font-style1;
    }

    .article-date {
      height: 30px;
      padding: 5px 15px;
      float: right;
      margin-left: 4px;
    }

    .article-category {
      color:$dk-blue;
      margin-bottom: 5px;
    }


    .article-excerpt,
    .article-title a {
      @include font-style2;
    }
      
    .article-content-wrap {
      padding: 30px 50px 30px 25px;

      .article-excerpt p {
        color:$dk-blue;
      }
    }

    .article-tag { 
      text-decoration: underline;
    }

    .article-title {
      margin-bottom: 10px;
        
      a {
        @include font-style2;
        font-size: $lg;
        text-transform: capitalize;
        border-bottom: 1px $dk-blue solid;
        line-height: 1.5em;
      }
    }
  }
}

section.main {
  .article {
    .article-content-wrap:hover {
      background: $dk-blue;

      .article-category a,
      .article-title a,
      .article-excerpt p {
        color: $white;
      }

      .article-title a {
        border-bottom-color: $white;
      }
    }
  }
}

.articles-list {
  .program {
    float:left;
    background:$white;
    width: 49.7%;
    padding: 30px 25px;
    margin-bottom:4px;

    h2 {
      text-transform: uppercase;
      display:inline-block;
      line-height: 40px;

      span {
        border-bottom:3px solid $dk-blue;
      }
    }

    .more {
      margin-top:20px;

      &:hover {
        color: $white;
      }
    }
  }
}

aside {
    .event-details {
      position: relative;
      background: $white;
      padding: 25px 30px;
      margin-bottom: 60px;

      h3 {
        margin-bottom:10px;
      }

      p { 
        font-size:$med;
        line-height:20px;
        margin-bottom:30px;
      }
      
      .register,
      .add-to-calendar {
        @include font-style1;
      }

      // .register::before {
      //   content: '>>';
      // }

      .add-to-calendar::before {
        content: '+ ';
      }
    }


    .article-list {
      position: relative;

      .article,
      .event {
        float: none;
        width: 100%;
        margin: 0;
        min-height: 0;

        .article-content {
          margin: 0;
          padding: 0;
          background: $white;
          color: $dk-blue;
        }

        .article-title a{
          color: $dk-blue;
          border-bottom:1px solid $dk-blue;
        }

        h3,
        p,
        .more a {
          color: $dk-blue;
        }
      }

      .article {
        .article-date {
          min-height: 30px;
          padding: 5px 15px;
          float: right;
          margin-left: 4px;

          &::after {
            content: '';
            border:none;
          }
        }
      }
      
      p.view-all {
        padding: 0 0 30px 25px;
        background: #fff;

        .button {
          width: 70%;
        &:hover {
        color: $white;
        }
      }
    }
  }
}




  
