// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color:$color-bg;
  color: $dk-blue; 
  font-size: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: $sans;
}


// Browser alert
.old-browser {
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  padding: 50px;
  text-align: center;
  background: $red;
}

.smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Utility classes
.hide {
  display: none;
}
.loading {
  opacity: .5;
}

// Visually hide, accessibility-friendly
.viz-hide {
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  } 
  &:after {
    clear: both;
  }
}

// Visibility classes (borrowing nomenclature from Foundation)
.show-for-medium-up {
  display: none;
  @include tablet {
    display: block;
  }
}
.hide-for-medium-up {
  @include tablet {
    display: none !important;
  }
}

// Default link styles
a {
  color: $dk-blue;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}