// Footer

footer.content-info {
  background:$dk-blue;
  height:460px;
  width:100%;
}

  .contact-info {
      width:20.83%;
      height:auto;
      float:left;
      color:$bg-green;
  }

  .secondary-nav {
    @include min-screen($breakpoint-medium) {

    }

  }
