// Footer
footer.main {
  background: $dk-blue;
  color: $color-bg;
  height: 460px;
  width: 100%;
  padding: 50px #{$column * 1}% 30px;
  position: relative;

  .logo {
    top: -58px;
    width: 49px;
    overflow: hidden;
    margin-right: 0;
    right: #{$column * 1}%;
  }

  a {
    color: $color-bg;
    &:hover {
      color: $white;
    }
  }
  
  nav {
    padding: 0 0 50px;
    @include font-style1;

    li {
      display: inline-block;
      margin-right: 37px;
    }

    .menu-donate-now,
    .menu-get-il-humanities-news-events {
      display: none;
    }
  }
  @include phone {
    height: 550px;
    padding: 40px 6.249% 0;

    nav li {
      margin-right: 17px;
    }
  }
}

.footer-meta {
  float: right;
  width: #{$column * 9}%;
  margin-right: #{$column * 1}%;

  .small-only,
  #menu-footer-links a,
  .disclaimer p {
    @include font-style2;
    font-size:$small;
    line-height:13px;
  }

  .small-only, 
  #menu-footer-links a {
    text-transform: uppercase;
    text-decoration: underline;
    font-size:11px;     
  }

  p, 
  #menu-footer-links li a {
    margin-bottom: 30px
  }

  .disclaimer .small-only {
    display: none;
  }

  #menu-footer-links {
    margin-top: 50px;
    li {
      display: inline-block;
      margin-right: 37px;
    }
  }

  @include phone {
    float: none;
    width: 100%;
    margin: 0;

    .disclaimer {
      .medium-up {
        display: none;
      }

      .small-only {
        display: inline;
        float: left;
        margin-right: 15px;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 11px;
      }
    }
  }
}

.contact-info {
  @include font-style1;
  float: left;
  position: absolute;

  .address a,
  .contact a {
    @include font-style1;
    border-bottom: 1px solid $color-bg;
    line-height:20px;
  }
  
  .vcard {
    clear: both;
    font-style: normal;
    //margin: 50px 0;
    margin-bottom: 50px;
  }

  .contact {
    margin-bottom: 50px;
  }

  .social {
    margin-bottom: 30px;

    p {
      margin-bottom: 20px;
    }

    .icon-facebook,
    .icon-twitter,
    .icon-instagram {
      font-size: $xl;
      margin-right: 15px;
    }
  }

  .copyright {
    @include font-style2;
    font-size: $small;
    text-transform: capitalize;
  }

  @include phone{}
}
  
// #menu-footer-links li{
//   display:inline-block;
//   margin-right:15px;
//  }

//@include phone{
//  height:550px;
//    
