// Forms

// General form hooha
form {
  .actions {
    margin-top: 20px;
  }
  .button:hover {
    color: $white;
  }
}

// Custom select styles
.select-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  select {
    color: $dk-blue;
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding-right: 28px;
    background: none;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    content: '';
    pointer-events: none;
    border-left: 1px solid $white;
    background: url("../images/icon-arrow-down.svg") no-repeat center center;
    background-size: 13px 8px;
  }
}

// Events/News filters have slightly different style
.filters {
  .program-topic,
  .focus-area-topic {
    white-space: nowrap;
    overflow: hidden;
  }
}
.filters .select-wrapper {
  display: inline-block;
  border-bottom: 1px solid $dk-blue;
  select {
    @include font-style1;
    max-width: 200px;
    text-transform: uppercase;
  }
  &::after {
    height: 26px;
    width: 24px;
    border: none;
    background-color: $white;
  }
}