// Grid

$column-width: 4.54%;

.grid {
  width: 100%;
  display: block;
  margin: -2px -2px 0 -2px;
  @include tablet {
    display: flex;
  }
  &.-persist {
    display: flex;
  }
}

.one-half-right,
.two-thirds-right,
.one-third-right,
.one-third-middle,
.one-fourth-right {
  margin-top: 1em;
}
.flex-item {
  margin: 2px 2px 4px;
  padding: 30px 25px;
  background: $white;
}

@include tablet {
  .flex-item {
    flex-basis: auto;
  }
  .one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}