// Header
.page-header {
  @include clearfix;
  width: 86.26%;
  min-height: 560px;
  margin-left: -4.54%;
  padding: 120px 0 0 4.54%;
  background: 50% 50% no-repeat scroll;
  background-size: cover;
  z-index: 1;
  
    .share {
      float: right;
      margin-top: -64px;
      margin-right: 4.54%;
      color: $white;
      @include font-style1;

      span {
        padding-right:5px;
        color: $white;
      }
    }

  h1 {
    font-size: $xxl;
    line-height: 60px;
    padding-right: 9.08%;
    padding-bottom: 50px;
  }

  h4.flag {
    top: 50px;
    bottom: auto;
    padding: 5px 30px;
    height:auto;
  }
  
  p {
    @include font-style1;
    bottom: 60px;

    &:before {
      content: "\bb  ";
    }
  }
  
  @include phone {
    width: 100%;
    min-height: 400px;
    padding: 110px 6.249% 30px;
    margin: 0;
    z-index: 1;

    h1 {
      font-size: $xl;
      line-height: 30px;
      padding: 0;
    }

    h2 {
      top: 50px;
      width: 77.18%;
    }

    p {
      margin: 50px 0 30px;
    }
  }
}

.navbar-header .navbar-brand {
  width: 200px;
  height: 80px;
  float: right;
  margin-right: 8.332%;
  background: $white;
  z-index: 5;
}

.header-text {
  position:relative;
}

.secondary-header-text {
  @include font-style2;
  line-height: 20px;
}