// Header
.page-header {
  @include clearfix;
  position: relative;

  .container {
    position:relative;
    z-index:2;
    background: 50% 50% no-repeat scroll;
    background-size: cover;
    margin-left: -#{$column * 1}%;
    width: #{$column * 19}%;
    padding: 50px 0 140px #{$column * 1}%;
  }
  
  .share {
    float: right;
    margin-top: -64px;
    margin-right: #{$column * 1}%;
    color: $white;
    @include font-style1;

    span {
      padding-right:5px;
      color: $white;
    }
  }

    h4.flag {
      position: relative;
      padding: 5px 30px;
      bottom: auto;
      height: auto;
      margin-bottom: 40px;
    }

  .header-text {
      padding-right: #{$column * 2}%;
      z-index:4;
   
    h1 {
      font-size: $xxl;
      line-height: 60px;
    }
   }
  
  
  p {
    @include font-style1;
    bottom: 60px;

    &:before {
      content: "\bb  ";
    }
  }
  
  .secondary-header-text {
    @include font-style2;
  }

  @include phone {
    .container {
      width: 100%;
      margin-left: 0;
      padding: 50px 4.54% 60px;
    }
    
    h1 {
        font-size: $xl;
        line-height: 30px;
    }
  }
}
