// Main sections

.wrap {
  @include clearfix();
  @include tablet {
    position: relative;
    margin: 0 #{$column-width * 1};
  }
}

main {
	position: relative;
  @include clearfix;
	margin: 0 #{$column-width * 1} 80px #{$column-width * 1};

	@include tablet {
		width: #{$column-width * 15};
		float: left;
		margin: 0 0 80px;
	}

  .columns {
    display: flex;
    .column {

    }
  }
  .one-column {
    position: relative;
    background: $white;
    min-height: 140px;
    .user-content {
      padding: 20px #{$column-width/2 * 22/15};
      margin-bottom: 60px;
      @include tablet {
        padding: 20px #{$column-width/2 * 22/15};
      }
    }
  }

  .two-column {
    min-height: 280px;
    .column {
      background: $white;
      float: left;
    }
  }
}

// Page blocks (used on pages and programs)
.page-block {
  position: relative;

  .user-content {
    position: relative;
    background: $white;
    padding: 20px #{$column-width/2 * 22/15};
    margin-bottom: 60px;
    @include tablet {
      padding: 20px #{$column-width/2 * 22/15};
    }
  }
}

// Sidebars
aside.main {
  position: relative;
  margin: 0 #{$column-width * 1} 100px;
  .related {
    @include clearfix;
    margin-bottom: 50px;
    position: relative;
    background: $white;
    &.related-events {
      background: $dk-blue;
    }
  }
  @include tablet {
    float: right;
    width: #{$column-width * 5};
    margin: 0 0 100px;
  }
  p.view-all {
    margin: 30px 0 0;
  }
}
@include tablet {
  .with-image aside.main {
    margin-top: -270px;
  }
  // .no-header-text aside.main {
  //   margin-top: 0;
  // }
}
.sidebar-content {
  @include clearfix;
  blockquote {
    margin-bottom: 30px;
  }
  h3 {
    color: $color-bg;
    margin: 30px 0 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  a:not(.img-link) {
    border-bottom: 1px solid $dk-blue;
    &:hover {
      color: $white;
      border-bottom-color: $white;
    }
  }
  p {
    margin: 10px 0;
  }

  // Dark bg sidebars
  &.dark {
    background: $dk-blue;
    color: $color-bg;
    padding: 30px #{$column-width * 22/5} 30px #{$column-width/2 * 22/5};
    margin: -20px 0 100px;
    @include tablet {
      margin: 0 #{-$column-width * 22/5 - 2%} 0 #{-$column-width/2 * 22/5}; // container element is 5col in 22col grid, extra 2% is for outer margin
    }
    p {
      color: $color-bg;
    }
    a {
      border-bottom: 1px solid $color-bg;
    }
  }

  // sidebar large focus lists
  .focus-list {
    margin: 20px 0;
    padding: 0;
    li {
      font: 900 #{$lg}/30px $sans;
      text-transform: uppercase;
      letter-spacing: .2em;
      @extend .smooth;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $color-bg;
        border-bottom: 2px solid $color-bg;
      }
    }
  }
}

//pages with header img & thought of day section
aside.page-with-img {
  margin-top: -270px;

  .our-work-sidebar p {
      margin-bottom: 20px;

    a {
      @include font-style1;
      border: none;
      margin-bottom: 50px;
    }
  }

  .support-us-sidebar p a {
      color: $white;
      border-bottom: 1px solid $white;
      font-weight: 700;
  }

  .single-program-sidebar,
  .contacts {
    padding: 30px #{$column-width/2 * 22/5} 30px 0;
  }

  .single-program-sidebar {
    h4 {
      text-transform: capitalize;
      color: $dk-blue;
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}
