// Main Section
//focus area
section.focus-areas{
	top:0;
	margin:0 0 0 18.16%;
	width: 45.4%;
	z-index:10;
	background: #fff;
	@include clearfix;
	

	& h2{
		width:40%;
	}

	& .focus-list{
	width: 100%;
	padding:40px 0 40px 25px;

		& li a{
			@include font-style1($dk-blue);
			border-bottom:3px $dk-blue solid;
			font-size:$xl;
			line-height:50px;
		}
	}

@include phone{
	position:relative;
	top: -16px;
	width:100%;
	margin:0 0 40px;
	height:260px;

	& h2{
		width:auto;
	}

	.focus-list{
		padding: 20px 0;

		& li a{
			font-size:$lg;
			line-height:40px;	
		}
	}
}
}
//thought of the day
section.thought {
	position: absolute;
  	top: 330px;
	width:22.7%;
  	right:0;
  	z-index: 400;
  	border:1px solid blue;
	margin-right:4.25%;
  	@include clearfix;
	
	& h2 {
		width:80%;
	}

	& p{
		@include font-style3
	}

	& cite{
		@include font-style2($dk-blue);
		font-size:$small;
		font-style: normal;
	}

	.submit-thought{
		@include button-style;
		margin-top: 40px;

		& a:active{
			background:$white;
			width:31.78%;
			height:350px;
		}
	}

//section.thought{
//	width:31.78%;
//	margin:0;
//	background:$white;

//		.submit-thought-wrapper{
//			width: 100%;
//			height: 350px;
		// 	padding: 40px 4.54% 50%;

		// 	.new-thought-form textarea{
		// 		@include font-style3;
		// 		width:100%;
		// 		border:none;
		// 		color:$dk-blue;

		// 		input{
		// 			@include font-style1($dk-blue);
		// 			width:100%;
		// 			height:30px;
		// 			margin:10px 0;
		// 			background:$color-bg;
		// 		}
		// 	}
		// }

@include phone{
	top: 2534px;
 	min-height: 490px;
 	width: 100%;
 	padding: 0 6.249%;
 	margin:0;

	& h2{
		width:auto;
	}
}
}