// Main Section

.flag {
  background: $color-accent;
  display: inline-block;
  position: absolute;
  height: 30px;
  bottom: 100%;
  margin: 0;
  padding: 5px 15px;
  z-index: 100;
  color: white;

  &::after {
    top: 100%;
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-top: 20px solid $color-accent;
    border-right: 25px solid transparent;
  }
}
.summary-flag {
  @extend .flag;
  top: 100%;
  bottom: auto;
  height: auto;
  margin-left: 22.7%;
  width: 45.4%;
  padding: 40px 4.54%;

  &::after {
    top: -20px;
    left: 0;
    border-top: none;
    border-right: none;
    border-bottom: 20px solid $color-accent;
    border-left: 25px solid transparent;
  }
}
