// Maps

#map {
 position:relative;
 top:0;
 left:-#{$column * 1}%;
 float:left;
 width:74.64%;
 z-index:1;
 margin: 2em 0;

 &.large {
   width: 700px;
   height: 1000px;
 }

@include phone {
		display:none;
	}
}

// tmp mapbox fix
.leaflet-control-attribution:after,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-popup-close-button,
.leaflet-control-layers-toggle,
.leaflet-container.dark .map-tooltip .close,
.map-tooltip .close,
.mapbox-icon {
  background-image:url(../images/icons-000000@2x.png);
  }
.leaflet-container.dark .leaflet-control-attribution:after,
.mapbox-button-icon:before,
.leaflet-container.dark .leaflet-control-zoom-in,
.leaflet-container.dark .leaflet-control-zoom-out,
.leaflet-container.dark .leaflet-control-layers-toggle,
.leaflet-container.dark .mapbox-icon {
  background-image:url(../images/icons-ffffff@2x.png);
}