// Nav

// WP admin bar push
.admin-bar {
  .site-nav.active {
    top: 46px;
  }
  @include tablet {
    .logo {
        top: 32px;
    }
  }
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 80px;
  z-index: 1;
  a {
    display: block;
    width: 200px;
    height: 80px;
    background: url(../images/ihc-logo.svg) no-repeat;
    background-size: 200px 80px;
    text-indent: -9999px;
  }
  @include tablet {
    top: 32px;
    width: 26.4%;
  }
  @include phone {
  }
}
.no-svg .logo a {
  background-image: url(../images/ihc-logo.png);
}

// Main banner area
.banner {
  @include clearfix;
  height: 58px;
  position: relative;
  margin: 0 0 0 #{$column-width * 1};

  @include tablet {
    height: 90px;
    margin: 20px 0 0 #{$column-width * 1};
  }
}

.icon-search {
  font-size: 18px;
}

// Main site nav
.site-nav {
  display: none;
  padding:0;

  @media only screen and (max-width: $breakpoint-medium) {
    display: block;
    position: fixed;
    transition: transform $transition-speed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 40px $column-width;
    &.active {
      transform: translateY(0);
      .close-button {
        display: block;
        opacity: 1;
        left: 85%;
        top: 17px;
      }
    }
    .search-form {
      margin: 10px 0 40px;
      display: block;
      .search-field {
        width: 90%;
      }
    }
  }

  li {
    display: block;
    margin-bottom: 10px;

    // Active menu item
    &.active a {
      border-bottom: 3px solid $dk-blue !important;
    }

    &.menu-support-us {
      margin-bottom: 50px;
    }

    a {
      display: inline-block;
      @include font-style1;
      border-bottom: 3px transparent;
      padding: 5px 0 4px;
    }

    &.menu-join-our-email-list a,
    &.menu-get-il-humanities-news-events a,
    &.menu-donate-now a {
      font-size: 11px;
      font-weight: 400;
      text-decoration: underline;
      -webkit-font-smoothing: subpixel-antialiased;
      &:hover {
        border: none;
        color: $white;
      }
    }
  }

  @include tablet {
    display: block;
    li {
      display: inline-block;
      margin-right: 20px;
      &.menu-support-us {
        margin-bottom: 0;
      }
      a:hover {
        border-bottom: 3px solid $orange;
      }
    }
  }
}

// mobile menu toggle
.menu-toggle {
  position: absolute;
  left: 0;
  width: 20px;
  height: 14px;
  top: 24px;
  padding: 6px 0;
  z-index: 10;
  @include tablet {
    display:none;
  }

  &::before, &::after {
    transition: all .1s .25s;
    position: absolute;
    left: 0;
    content:'';
    width: 20px;
    height: 2px;
    background: $dk-blue;
  }
  &::before {
    top: 0;
    transform-origin: top left;
  }
  &::after {
    bottom: 0;
    transform-origin: bottom left;
  }
  .menu-bar {
    width: 20px;
    height: 2px;
    background: $dk-blue;
  }
  &.menu-open {
    display: none;
    // top: 40px;
    // left: $column-width * 20;
  }
}

.search-field,
.search-submit {
  background: none;
  border: none;
  outline: none;
  color: $dk-blue;
  padding: 0;
}
.search-field {
  @include font-style3;
  width: 1px;
  transition: all $transition-speed;

  &::placeholder {
    color: rgba($dk-blue,.5);
    padding-top: 5px; // wtf?
  }
}

.search-submit {
  margin-left: -10px;
  width: 30px;
  height: 30px;
}

.search-form {
  height: 44px;
  display: none;
  @include tablet {
    display: block;
    &.mobile-search {
      display: none;
    }
  }

  @include tablet {
    .close-button {
      display: block;
      opacity: 0;
      left: -64px;
      transition: all $transition-speed;
    }
  }

  &.active {
    .search-field {
      width: 400px;
    }
    @include tablet {
      .close-button {
        opacity: 1;
        left: -34px;
      }
    }
  }
}