// Nav

// wp admin bar push
.admin-bar {}

.banner {
	width:100%;
	height:60px; //110px;
	padding:10px 6.249%;
	z-index:1;
}

nav .navbar-nav{
	@include clearfix;
	padding: 0;
	margin: 0;
	list-style-type:none;
	width:100%;
	
	li{
	display:block;
	margin-right: 25px;
  	//float:left;
	//margin-right:25px;
	//padding-bottom:30px;
	
		& a{
			padding:5px;
			@include font-style1($dk-blue);
			font-size:$small;
			line-height: 30px;

			&:hover{
				border-bottom:5px solid $lt-orange;
			}

			&:active {
				border-bottom:5px solid $dk-blue;
			}
		}

		&.menu-get-il-humanities-news-events a,
		&.menu-donate-now a {
			font-weight:400;
			text-decoration: underline;
		}

		&.menu-support-us {
			//margin-right:125px;
			margin-bottom: 50px;
		}
	}
}

.navbar-header{
	float:right;
	margin:0 12% 0 0;
	text-decoration:none;
	color:$dk-blue;
	width: 16.664%;
	height: 80px;
	background:#fff;

	h1 a{
		@include font-style2($dk-blue);
	}
}

// mobile menu toggle
.menu-toggle {
	position: absolute;
	top:40px;
	margin:0 6.249%;
	padding: 6px 0;
	z-index:250;

  &:before, &:after {
  	position: absolute;
  	left: 0;
  	content:'';
  	width: 20px;
  	height: 2px;
  	background: $dk-blue;
  } 

  &:before {
  	top: 0;
  	transform-origin: top left;
  }
  &:after {
  	bottom: 0;
  	transform-origin: bottom left;
  }

  .menu-bar {
  	width: 20px;
  	height: 2px;
  	background: $dk-blue;
  }
}

.menu-open{
	left: 83%;
	top:40px;
	width: 100%;

	.menu-bar {
		display: none;
	}

	&:before {
		top: -3px;
		transform: rotate(45deg);
	}
	&:after{
		transform: rotate(-45deg);
	}
}

.site-nav{
  position:absolute;
  top:0;
  right:100%;
  width:100%;
  height:auto;
  z-index:1;
}
  .active{
    position:absolute;
    top:0;
    right:0;
    height:640px;
    width:100%;
    background:$color-bg;
    padding:40px 6.249%;
    z-index:200; 
}
