// Nav

// WP admin bar push
.admin-bar {
  .logo {
    @include tablet {
      top: 32px;
    }
  }
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 80px;
  display: block;
  z-index: 1;
  background: url(../images/ihc-logo.svg) no-repeat;
  text-indent: -9999px;
  background-size: 200px 80px;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  @include tablet {
    top: 32px;
    right: auto;
    left: #{$column-width * 16};
  }
  @include phone {
  }
}
.no-svg .logo {
  background-image: url(../images/ihc-logo.png);
}

// Main banner area
.banner {
  height: 58px;
  position: relative;
  @include clearfix;
  margin: 0 0 0 #{$column-width * 1};

  @include tablet {
    height: 90px;
    margin: 20px 0 0 #{$column-width * 1};
  }
}

.search-toggle {
  padding: 5px;
  position: absolute;
  top: 2px;
  left: 0;
  margin: 0 0 0 -4px;
  cursor: pointer;
}
.icon-search {
  font-size: 18px;
}
.search-close {
  @include close-x;
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: -34px;
  @include tablet {
    top: 4px;
  }
}

.search-open .icon-search {
  display: none;
}

// Main site nav
.site-nav {
  display: none;
  padding:0;

  @media only screen and (max-width: 768px) {
    &.active {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
      padding: 40px $column-width;
    }
  }

  li {
    display: block;
    margin-bottom: 10px;
    // Active menu item
    &.active a {
      border-bottom: 3px solid $dk-blue !important;
    }

    &.menu-support-us {
      margin-bottom: 50px;
    }

    a {
      display: inline-block;
      @include font-style1;
      padding: 5px 0 4px;
    }

    &.menu-get-il-humanities-news-events a,
    &.menu-donate-now a {
      font-size: 11px;
      font-weight: 400;
      text-decoration: underline;
      -webkit-font-smoothing: subpixel-antialiased;
      &:hover {
        border: none;
        color: $white;
      }
    }
  }
  @include tablet {
    display: block;
    ul {
      margin-top: 44px;
    }
    li {
      display: inline-block;
      margin-right: 20px;
      padding-bottom: 30px;
      &.menu-support-us {
        margin-bottom: 0;
      }
      a:hover {
        border-bottom: 3px solid $lt-orange;
      }
    }
  }
}

// mobile menu toggle
.menu-toggle {
  position: absolute;
  left: 0;
  width: 20px;
  top: 37px;
  padding: 6px 0;
  z-index: 10;

  &::before, &::after {
    transition: all .1s .25s;
    position: absolute;
    left: 0;
    content:'';
    width: 20px;
    height: 2px;
    background: $dk-blue;
  } 

  &::before {
    top: 0;
    transform-origin: top left;
  }
  &::after {
    bottom: 0;
    transform-origin: bottom left;
  }

  .menu-bar {
    width: 20px;
    height: 2px;
    background: $dk-blue;
  }
  
  @include tablet {
    display:none;
  }

  &.menu-open {
    top: 40px;
    left: $column-width * 20;

    .menu-bar {
      display: none;
    }

    &::before {
      top: -3px;
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
    }
  }

}

.search-form {
  position: absolute;

  .search-field {
    display: none;
    @include font-style3;
    @include tablet {
      width: 400px;
      float: left;
    }
    color: $dk-blue;
    background: none;
    border: none;
    outline: none;

    &::placeholder {
      color: rgba($dk-blue,.5);
      padding-top: 5px; // wtf?
    }
  }

  .search-submit {
    display: none;
    color: $dk-blue;
    background: none;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
  }

  &.active {
    .search-field,
    .search-submit,
    .search-close {
      display: inline-block;
    }
  }
}