// Search form

// wp admin bar push
.admin-bar {
  .search-form,
  .search-toggle {
    top: 52px;
  }
}

.search-form,
.search-toggle {
  top: 0;
  @include tablet {
    top: 35px;
  }
}

.search-toggle {
  position: absolute;
  margin: 0;
}
.icon-search {
  font-size: 18px;
}

.search-open .icon-search {
  display: none;
}

.search-form {
  position: absolute;
  right: 100%;
  height: auto;

  @include phone {
    &.active {
      padding: 0 6.249% 0 10%;
    }

    .search-close:before,
    .search-close:after {
        margin: 17px 0 0 16px;
    }

    .search-field {
      width: 80%;
      margin-left: 30px;
    }

    .active {
      padding: 0 6.249% 0 12%;
    }
  }

  &.active {
    top: 30px;
    right: 0;
    left: 0;
    margin-left: 4.166%;
    .search-field,
    .search-submit,
    .search-close {
      display: inline-block;
    }
  }

  .search-close {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    @include tablet {
      left: -2.27%;
    }
    top: 0;
    &:before, 
    &:after {
      content:'';
      position:absolute;
      top: -8px;
      left:4px;
      width: 20px;
      height: 2px;
      background: $dk-blue;
      margin:23px 0 0 4.166%;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .search-field {
    display: none;
    @include font-style3;
    @include tablet {
      width: 390px;
    }
    color: $dk-blue;
    background: none;
    margin-left: 6px;
    border: none;
    outline: none;

    .search-field.form-control {
      border: none;
    }
  }

  .search-submit {
    display: none;
    color: $dk-blue;
    background: none;
    border: none;
    padding: 0;
    &:before {
      top: 5px;
      position: absolute;
    }
  }
}