// Sitewide elements

.flag {
  display: inline-block;
  position: absolute;
  height: 30px;
  bottom: 100%;
  margin: 0;
  padding: 5px 15px;
  z-index: 100;
  color: white;

  &::after {
    top: 100%;
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-right: 25px solid transparent;
    border-top: 20px solid $color-accent;
  }
}
.summary-flag {
  @extend .flag;
  top: 100%;
  bottom: auto;
  height: auto;
  margin-left: 22.7%;
  width: 45.4%;
  padding: 40px 4.54%;

  &::after {
    top: -20px;
    left: 0;
    border-top: none;
    border-right: none;
    border-left: 25px solid transparent;
    border-bottom: 20px solid $color-accent;
  }
}

.focus-list {
      padding: 20px 0;

      li a {
        @include font-style1;
        border-bottom: 3px $dk-blue solid;
        font-size: $lg;
        line-height: 40px;

        &:hover{
          color: $color-bg;
          border-bottom: 3px $color-bg solid;
        }
      }
    }

aside {
  position: relative;
  float: right;
  height: 100%;
  width: 27.24%;
  padding-left: 4.54%;
  margin-bottom: 100px;
}

//pages with header img & thought of day section
aside.page-with-img {
  margin-top: -270px;

  .about-us-sidebar,
  .our-work-sidebar,
  .support-us-sidebar {
    background: $dk-blue;
    padding: 30px 50px 30px 25px;
    margin-right: -20%;
  }

  .our-work-sidebar p {
      margin-bottom: 20px;
    
    a {
      @include font-style1;
      border: none;
      margin-bottom: 50px;
    }
  }

  .support-us-sidebar p a {
      color: $white;
      border-bottom: 1px solid $white;
      font-weight: 700;
  }

  .about-us-sidebar {
    p {
      margin-bottom:40px;
    }
    ul li {
      margin-bottom:20px;

      span {
        @include font-style1;
        font-size:$lg;
      }
    }
  }

  .single-program-sidebar,
  .contacts {
    padding: 30px 25px 30px 0;
  }

  .single-program-sidebar {
    h4 {
      text-transform: capitalize;
      color: $dk-blue;
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}

//single program page
.single-program {
  position:relative;
  .page-block {
    position: relative;

    .block-content {
      position: relative;
      background: $white;
      padding: 30px 25px 10px;
      margin-bottom: 60px;
    }
  }
}

.plus {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 25px;
  top: 15px;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 20px;
    height: 5px;
    background: #44607f;
    margin: 25px 50px 50px 0;
  }
  
  &::before {
   -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  
  &::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  }
}

.minus {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 25px;
  top: 65px;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 20px;
    height: 5px;
    background: #44607f;
    margin: 25px 50px 50px 0;
  }
  
  &::before {
   -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
}