// Sitewide elements
.flag {
  display: inline-block;
  position: absolute;
  bottom: 100%;
  margin: 0;
  padding: 5px 20px;
  color: $white;
  letter-spacing: .1em;
  line-height: 20px;
  z-index: 1;
  @extend .smooth;
  text-align: center;
  a {
    color: $white;
  }

  &::after {
    top: 100%;
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-right: 25px solid transparent;
    border-top: 20px solid $color-accent;
  }
}

.load-more {
  a:before {
    content: '+ ';
  }
  @include tablet {
    margin: 35px 0 100px;
    text-align: center;
  }
}

.button {
  @include font-style1;
  transition: all $transition-speed;
  border: 3px solid $dk-blue;
  color: $dk-blue;
  padding: 6px 20px 5px;
  text-align: center;
  background: none;
  display: block;
  white-space: nowrap;

  @include tablet {
    min-width: 150px;
    display: inline-block;
    &:hover {
      color: $color-bg;
      background: $dk-blue;
    }
  }
}


.alert {
  padding: 50px;
  background: $white;
}

.plus {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 25px;
  top: 15px;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 20px;
    height: 5px;
    background: #44607f;
    margin: 25px 50px 50px 0;
  }
  
  &::before {
  transform: rotate(0deg);
  }
  
  &::after {
  transform: rotate(90deg);
  }
}

.minus {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 25px;
  top: 65px;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 20px;
    height: 5px;
    background: #44607f;
    margin: 25px 50px 50px 0;
  }
  
  &::before {
    transform: rotate(0deg);
  }
}

