// Mixins

// Font-styles
@mixin font-style1 {
  font: 900 #{$small}/1.2 $sans;
  @extend .smooth;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@mixin font-style2 {
  font: 300 #{$med}/1.43 $sans;
  font-weight: 300;
  letter-spacing: 0.04em;
}
@mixin font-style3 {
  font: italic 700 27px/1.1 $serif;
  color: $white;
}

// Clearfix
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

// Easily verically align any element (courtesey of @seb_ekstrom)
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Breakpoints
@mixin phone {
  @media screen and (max-width: #{$breakpoint-small}){
    @content;
  }
}
@mixin tablet-only {
  @media screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1px}){
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: #{$breakpoint-medium}) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: #{$breakpoint-large}) {
    @content;
  }
}
