// Each page load can have a random background and random accent

$bg-colors: $bg-blue $bg-green $bg-pink $bg-beige $bg-grey $bg-peach;
@each $bg-color in $bg-colors {
  $i: index($bg-colors, $bg-color);
  .background-#{$i} {
    // Main page bg
    background: $bg-color;
    .site-nav.active {
      background: $bg-color;
    }

    #map.large::after {
      box-shadow: inset 0 0 300px 200px $bg-color;
    }

    // Footer text & links
    footer.main {
      color: $bg-color;
      a {
        color: $bg-color;
        border-bottom-color: $bg-color;
        @include tablet {
          &:hover {
            color: $white;
            border-bottom-color: $white !important;
          }
        }
      }
      p {
        color: $bg-color;
      } 
    }
    #menu-footer-links a {
      border-bottom-color: $bg-color;
    }

    // Button hovers
    @include tablet {
      .button:hover {
        color: $bg-color;
      }
    }

    // Sidebars
    .sidebar-content {
      &.dark {
        h3 {
          color: $bg-color;
        }
        p {
          color: $bg-color;
        }
        // a {
        //   color: $bg-color; 
        // }
        .focus-list a {
          color: $bg-color;
          @include tablet {
            &:hover {
              color: $white;
            }
          }
        }
      }
    }

    // Events
    .article-list.masonry .event {
      .article-content {
        color: $bg-color;
        p,
        a {
          color: $bg-color;
        }

        .article-title a {
          border-bottom-color: $bg-color;
        }
      }
    }

    // Article tags
    .article-tag a {
      color: $bg-color;
    }

    // Time stamps
    .article-date {
      background: $bg-color;
      &::after {
        border-top-color: $bg-color;
      }
    }
  }
} // End of bg-color


$accent-colors: $red $lt-blue $green $aqua $lt-orange;
@each $accent-color in $accent-colors {
  $i: index($accent-colors, $accent-color);

  .accent-#{$i} {
    // Random elements with class "accent"
    .accent {
      color: $accent-color;
      a {
        color: $accent-color;
        @include tablet {
          &:hover {
            color: $white;
          }
        }
      }
    }

    // Nav elements
    @include tablet {
      nav .navbar-nav li a:hover {
        border-bottom-color: $accent-color;
      }
    }

    // Our Work page
    .focus-area {
      @include tablet {
        &:hover {
          .info {
            background: $accent-color;
          }
          .related {
            &::after{
              background: lighten($accent-color, 25%);
            }
          }
        }
      }
    }

    // Single Focus area
    @include tablet {
      .program-list {
        .article-content:hover {
          background: $accent-color;
        }
      }
    }

    // User content
    .user-content {
      .block-content h4 {
        color: $accent-color;
      }
    }

    // All page flags
    .flag-tabs a.active,
    .flag {
      background: $accent-color;
      &:after {
        border-top-color: $accent-color;
      }
    }

    // Secondary header blocks
    .secondary-header-text {
      background: $accent-color;
      &::after {
        border-bottom-color: $accent-color;
      }
    }

    // Thought of Day hovers
    @include tablet {
      .thought-of-the-day:hover {
        blockquote p {
          color: $accent-color;
        }
      }
    }

    // Events
    .event-details {
      a,
      h3 {
        color: $accent-color;
      }
    }

    // Asides
    .sidebar-content {
      h3 {
        color: $accent-color;
      }
    }
    aside.main.dark .sidebar-content {
      a {
        color: $accent-color;
      }
    }
  }
}
