// Crazy random themes!

$bg-colors: $bg-blue $bg-green $bg-pink $bg-beige $bg-grey $bg-peach;
@each $bg-color in $bg-colors {
  $i: index($bg-colors, $bg-color);
  .background-#{$i} { 
    // main page bg
    background: $bg-color;
    // footer text & links
    footer.main {
      color: $bg-color;
      a {
        color: $bg-color;
        &:hover {
          color: $white;
        }
      }
    }
    //.button hover
    .button:hover {
      background: $dk-blue;
      color: $bg-color;
      border: 3px solid $dk-blue;

      a {
        color: $bg-color;
      }
    }
    // events
    .article-list .event {
      color: $bg-color;
      a {
        color: $bg-color;
      }
      time {
        color: $dk-blue;
      }
      &:hover {
        color: $dk-blue;
        a {
          color: $dk-blue;
        }
      }
    }
// article
.article-date {
  color: $white;
  background: $bg-color;
}
    // focus area
    .focus-area:hover .button:hover,
    aside .button:hover,
    .button:hover {
      color: $bg-color;
    }

    // aside
    aside {
      h3 {
      color: $bg-color;
      }
        .button:hover {
          background: $dk-blue;
          color: $bg-color;
          border: 3px solid $dk-blue;
        }
      }
      p {
        color: $bg-color;
      }
    }

    // time stamps
    .article-list .article-content .article-date,
    .article-content time,
    time {
      &:after {
        border-top-color: $bg-color;
      }
      background: $bg-color;
    }
  }


$accent-colors: $red $lt-blue $green $aqua $lt-orange;
@each $accent-color in $accent-colors {
  $i: index($accent-colors, $accent-color);

  .accent-#{$i} {
    // random elements with class .accent
    .accent {
      color: $accent-color;
    }
    // nav elements
    nav .navbar-nav li a:hover {
      border-bottom-color: $accent-color;
    }
    // focus areas
    .focus-area {
      &:hover {
        .info {
          background: $accent-color;
        }
        .related {
          background: lighten($accent-color, 25%);

          &::after{
            background: lighten($accent-color, 25%);
          }
        }
      }
    }
    // all page flags
    .flag {
      background: $accent-color;
      &:after {
        border-top-color: $accent-color;
      }
    }
    // summary flag for about-us, openICE
      .summary-flag::after {
        border-bottom-color: $accent-color;
      }
    //aside links
    aside {
      a {
        color: $accent-color;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

aside{
  .button a{
        color: $dk-blue;
  }

  a{
    @include font-style1;
  }
}