// Typography
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 100;
  font-family: $sans;
  line-height: 30px;
}

h2 {
  font-size: $lg;
}

h3 {
  @include font-style1;
}

h4 {
  @include font-style1;
}

p {
  font: 300 #{$med}/1.43 $sans;
  color: $dk-blue;
  margin: 0;
  padding: 0;
}

// Hide fonts while loading from Typekit
.wf-loading {
  visibility: hidden;
}
