// Variables

// Colors
$dk-blue: #44607f;

$black: #202020;
$white: #FFFFFF;
$gray-lite: #DCDCDC;

// Accents
$aqua: #66BDC9;
$lt-blue: #009CDB;
$green: #4DA84F;
$orange: #FC992B;
$red: #D64F54;

// Background Swatches
$bg-blue: #C2D6D9;
$bg-green: #B8DEBA;
$bg-pink: #EDBABA; 
$bg-beige: #E5D4BE;
$bg-grey: #C7C9CC;
$bg-peach: #EBC7B0;

// Color transitions
$color-accent: $orange;
$color-bg: $bg-green;
$transition-speed: .2s;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-huge: 3000px;

// Font sizes
$small: 12px; //12px
$med: 14px; //14px
$lg: 21px; //21px
$xl: 28px; //28px
$xxl: 56px; //56px

// Fonts
$sans: "museo-sans", Helvetica, sans-serif;
$serif: "minion-pro", serif;
