// About Us page

.about-us.page {
  .entry-content {
    position: relative;
  }
  .one-column {
    margin-top: 180px;
    padding:30px 25px;

    h3.about-section {
      color:$dk-blue;
    }

    h4 {
      text-transform: capitalize;
      color:$dk-blue;
      font-size:$med;
      margin-bottom:10px;
    }
  }

  aside {
    margin:-270px -4.54% 0 0;
    height:auto;

    .about-us-sidebar {
      background:$dk-blue;
      padding:30px 4.54% 30px 25px;
      margin-left: -2.27%;

      h3{
        margin:30px 0;
      }

      ul li{
        @include font-style1;
        font-size:$lg;
        padding-bottom: 3px;
        margin-bottom: 20px;
      }
    }
  }
}