// Blog (what we're learning) Page
.blog {
  .share {
    display:none;
  }
}
#comments {
  display: none
}

@include tablet {
  .page-header {
    h1 {
    }
  }

  .alert {
    margin-left: 0;
    max-width: 66.66666%;
  }
}



.filters {
  background: $white;
  height: 70px;
  padding: 20px 25px;
  margin-bottom: 30px;

  .program-topic,
  .focus-area-topic {
    @include font-style1;
    display: inline-block;
    margin: 10px 25px 0 0;
  }

  .button {
    float: right;
  }
}
