// Blog (what we're learning) Page

.blog {
  .share {
    display:none;
  }
}
#comments {
  display: none
}

@include tablet {
  .page-header {
    h1 {
    }
  }

  .alert {
    margin-left: 0;
    max-width: 66.66666%;
  }
}

.nav-links {
  margin: 40px 0 0;
  text-align: center;
  @include font-style1;
  .nav-previous,
  .nav-next {
    display: inline-block;
    margin: 0 10px;
  }
}