// Home page

.home.page {

  .thought-of-the-day {
    @include tablet {
      position: absolute;
      top: 330px;
      width: #{$column*5}%;
      right: 0;
      z-index: 400;
      margin-right: #{$column}%;
    }

    &.submitting-thought {
      @include tablet {
        width: #{$column*7}%;
        margin-right: 0;
      }
    }
  }

  // Focus areas
  section.focus-areas {
    background: #fff;
    @include clearfix;

    position: relative;
    top: -16px;
    width: 100%;
    margin: 0 0 40px;

    .focus-list {
      padding: 20px 0;

      li a {
        @include font-style1;
        border-bottom: 3px $dk-blue solid;
        font-size: $lg;
        line-height: 40px;

        &:hover{
          color: $color-bg;
          border-bottom: 3px $color-bg solid;
        }
      }
    }

    @include tablet {
      top: 0;
      margin: 0 0 0 18.16%;
      width: 45.4%;
      z-index:10;
      .focus-list {
        padding: 26px 0 40px 25px;
        li a {
          font-size: $xl;
          line-height: 50px;
        }
      }
    }
  }

  section.event-cal {
      @include clearfix;
      position: relative;
      @include tablet {
        top:0;
        width: 45.5%;
        margin-left: 49.94%;
        padding:0 5px;
        z-index: 20;
        .events {
          width: 100%;
          min-height: 445px;
          position: relative;
        }
      }

    .event {
      .article-content {
        background: $dk-blue;

        h1 a,
        h3,
        p,
        .more a,
        .register {
          color: $white;
        }

        h1 a {
          border-bottom-color:$white;
        }

      &:hover {
        background: $white;

        h1 a,
        h3,
        p,
          .more a,
          .register {
          color: $dk-blue;
        }

        h1 a {
          border-bottom-color:$dk-blue;
        }
      }
      }
    }

    .events-buttons.initial {
      .load-more {
        margin: 20px 0 10px;
      }

      @include tablet {
        margin: 0;
        width: 49%;
        position: absolute;
        bottom: 50px;
        right: 10px;
        text-align: center;
        
        .load-more {
          display: block;
          margin: 20px 0 30px;
          a {
            width: 60%;
          }
        }
        
        .view-all {
          display: block;
          a {
            width: 60%;
          }
        }
      }
    }
  }

  section.news {
    @include clearfix;
      padding: 0 4.54%;
      position: relative;

      @include tablet {
        z-index: 20;
        margin-right: 0;
      }

    .article {
      .article-content:hover {
        background: $dk-blue;

        .article-category a,
        .article-title a,
        .article-excerpt p {
          color: $white;
        }

        .article-title a {
          border-bottom-color: $white;
        }
      }
    }

    .load-more {
      margin: 20px 0 10px;
    }
  }
  
  .events-buttons,
  .news-buttons {
    margin: 30px 0 100px; 
    text-align: center;
    
    .view-all,
    .load-more {
      display: inline;
    }
    
    a {
      display: inline-block;
      margin: 0;
    }
  }


  .article-list {
    .article {
      @include tablet {
          width: 25%;
      }
    }
  }
}
