// Home page

.home.page {
  .thought-of-the-day {
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      top: 330px;
      width: #{$column * 5}%;
      right: 0;
      margin-right: #{$column * 1}%;
    }

    &.submitting-thought {
      @include tablet {
        width: #{$column * 7}%;
        margin-right: 0;
      }
    }
  }

  // Focus areas
  .focus-areas {
    background: #fff;
    @include clearfix;
    position: relative;
    margin: -80px #{$column * 1}% 80px;

    .focus-list {
      padding: 26px 0 40px 25px;
      @include font-style1;
      font-size: $lg;
      line-height: 40px;
      @extend .smooth;
      li a {
        border-bottom: 4px solid $dk-blue;
      }
    }

    @include tablet {
      margin: 0 0 0 #{$column * 4}%;
      width: #{$column * 10}%;
      .focus-list {
        padding: 26px 0 40px 25px;
        font-size: $xl;
        line-height: 50px;
      }
    }
  }

  .event-cal {
    @include clearfix;
    position: relative;
    margin: 0 #{$column * 1}% 80px;
    @include tablet {
      top:0;
      width: #{$column * 10}%;
      margin-left: #{$column * 11}%;
      padding:0 5px;
      .events {
        width: 100%;
        min-height: 445px;
        position: relative;
      }
      .article-list {
        .event {
          width: 50%;
        }
      }
    }

    .load-more {
      margin: 20px 0 10px;
    }

    @include tablet {
      .events-buttons {
        display: none;
      }
      .events .events-buttons {
        display: block;
        width: 49%;
        float: left;
        .load-more {
          display: block;
          margin: 20px 0 30px;
          a {
            width: 60%;
          }
        }
        
        .view-all {
          display: block;
          a {
            width: 60%;
          }
        }
      }
    }
    &.loaded-more .events-buttons {
      display: block;
    }
  }

  .news {
    @include clearfix;
    margin: 0 #{$column * 1}% 80px;
    position: relative;

    @include tablet {
      margin: 0 0 0 #{$column * 1}%;
    }

    .load-more {
      margin: 20px 0 10px;
    }
  }
  
  .events-buttons,
  .news-buttons {
    @include tablet {
      margin: 30px 0 100px; 
      text-align: center;
      
      .view-all,
      .load-more {
        display: inline;
      }
      
      a {
        display: inline-block;
        margin: 0;
      }
    }
  }

  // Blog & News gets 4 per row on homepage
  .article-list {
    .article {
      @include tablet {
          width: 25%;
      }
    }
  }
}
