// Our Work pages

// Single program page
.single-program {
  .share {
    display: block;
    margin: 20px 0;
    color: $white;
    a {
      color: $white;
    }
    @include tablet {
      margin: 0;
      width: 120px;
      position: absolute;
      top: 8px;
      right: 30px;
    }
  }
  .share {
    top: 58px;
  }
  ul.resources {
    font: 300 #{$med}/1.43 $sans;
    margin-bottom: 30px;
    li {
      margin: 10px 0;
    }
  }
}


.focus-list-large {
  .focus-area {
    @include clearfix;
    position: relative;
    margin: 0 0 4px 0;

    a {
      color:$dk-blue;
    }

    h1 {
      font: 900 #{$xl}/50px $sans;
      margin: -12px 0 30px;
      @extend .smooth;
      text-transform: uppercase;
      letter-spacing: .15em;
      a {
        border-bottom: 4px solid $dk-blue;
      }
    }

    .info {
      transition: background $transition-speed, color $transition-speed;
      position: relative;
      background: $white;
      padding: 40px 25px 50px;

      p {
        margin-bottom: 30px;
      }

      @include tablet {
        padding: 40px #{$column-width/2 * 22/15} 50px #{$column-width/2 * 22/15}; // container element is 15col in 22col grid
        float: left;
        width: 63.33%;
      }
    }

    .related {
      transition: background $transition-speed, color $transition-speed;
      padding: 40px 25px 25px;
      &::after {
        transition: background $transition-speed, color $transition-speed;
        content: '';
        background: rgba($white, .75);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: -1;
        bottom: 0;
      }
      @include tablet {
        padding: 40px #{$column-width/2 * 22/15} 25px #{$column-width/2 * 22/15};
        width: 36.67%;
        float: left;
      }

      h3 {
        margin-bottom:30px;
      }

      .programs {
        li {
          margin-bottom: 10px;
        }

        a {
          @include font-style1;
          border-bottom: 1px solid $dk-blue;
          line-height: 12px;
        }
      }
    }
    @include tablet {
      display: flex;
      cursor: pointer;
      &:hover {
        .info {
          h1 a,
          p {
            color: $white;
          }
          .button {
            color: $white;
            border-color: $white;
          }
          h1 a {
            border-bottom: 3px solid $white;
          }
        }

        .related {
          h3 {
            color: $white;
          }
          .programs a {
            color: $white;
            border-bottom: 1px solid $white;
          }
        }
      }
    }
  }
}
