// Search Results page

body.search {
  .page-header .container {
    min-height: 60px;
    @include tablet {
      min-height: 30px;
    }
  }
  .search-results-form {
    margin: 0 0 30px;
    background: $white;
    form {
      padding: 30px 25px;
      @include tablet {
        padding: 30px #{$column-width/2 * 22/15};
      }

    }
    .search-field {
      width: 90%;
      @include tablet {
        width: 95%;
      }
    }
  }
}