// Single Posts
.single .post {
  margin: 80px 0;
  @include tablet {
    aside.main {
      margin: 0 0 100px;
    }
  }

  .article-thumb {
    min-height:270px;
    width:100%;
    background: no-repeat;
    background-size: cover;

    // Cutout triangle on thumb
    &::before,
    &::after {
      position: absolute;
      top:250px;
      content: '';
    }

    &::before {
      left: 0;
      right: 25px;
      height: 20px;
      background: $white;
    }

    &::after {
      right: 0;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-right: 25px solid $white;
    }
  }

  section.main {
    background: $white;
    header,
    .entry-content {
      padding: 30px 50px 0 25px;
    }
    h1 {
      color: $dk-blue;
      margin: 0;
    }
    .user-content {
      p {
        margin: 0 0 30px;
      }
    }

    header {
      .entry-title span {
        @include font-style1;
        font-size: $xl;
        color: $dk-blue;
        text-transform: uppercase;
        line-height: 50px;
        border-bottom: 3px solid $dk-blue;
      }
    }

    .byline-area {
      border-bottom: 1px solid $gray-lite;

      p {
        @include font-style1;
        color: $dk-blue;
        margin: 20px 0;
      }
    }
  }
}
