// Support Us page

.support-us.page {
  .grid {
    position: relative;
    margin: -2px -2px 60px;
    .flex-item {
      padding: 20px;
      margin: 2px 2px 4px;
      min-height: 280px;
      background: $white;

      h2 {
        @include font-style1;
        font-size: $lg;
        border-bottom: 3px $dk-blue solid;
        letter-spacing: 2px;
        line-height: 35px;
        display: inline;
      }
    }
  }
}
  