// Support Us page
  section.main {
    width: 72.65%;
    float: left;
    padding-right: 4.54%;
    height: auto;
  
  .one-column{
    position: relative;
    background: $white;
    min-height: 140px;
    width: 100%;
    margin-bottom: 100px;
  }

    .two-column {
    position: relative;
    min-height: 280px;
    margin-bottom: 60px;

    .column{
      background:$white;
      float:left;
    }
  }
}  

.support-us.page {
  .share {
    display:none;
  }

  h2 {
    @include font-style1;
    font-size: $lg;
    border-bottom: 3px $dk-blue solid;
    letter-spacing: 2px;
    display: inline-block;
  }

  .two-column{
      .column {
      width: 49.7%;
      padding: 30px 25px 0;
      min-height: 280px;
      margin-right: 4px;
    }

    .last {
      margin: 0px;
    }

  }

  .one-column {
    .column {
      padding: 30px 25px 0px;
    }
  }
}
  