@import 'wp-classes';

body {
  margin: 12px !important;
}

.two-column {
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
.three-column {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}
.three-column p:first-child,
.three-column h2:first-child,
.three-column h3:first-child,
.three-column h4:first-child {
  margin-top: 0;
}
.three-column hr {
  -webkit-column-break-after: always; 
  column-break-after: always;
}
.three-column hr + h3,
.three-column hr + h4 {
  margin-top: 0;
}
