// bower:sass
// endbower

@charset "UTF-8"; 

body {
	border: 1em solid #eee;
	margin: 0;
	padding: 1em;
}
article {
	border: 1em solid #eee;
	padding: 1em;
	margin: 1em 0;
}

// WP specifics
@import 'wp-classes';
