// bower:sass
// endbower

@charset "UTF-8"; 

body {
	border: 1em solid #eee;
	margin: 0;
	padding: 1em;
}
article {
	border: 1em solid #eee;
	padding: 1em;
	margin: 1em 0;
}
#map {
	width: 300px;
	height: 300px;
	&.large {
		width: 600px;
		height: 400px;
	}
}
.active {
	background: yellow;
}
.hide {
	display: none;
}

// WP specifics
@import 'wp-classes';
